extends templet  

block main-content 
  .main-contact-us
    h2.contactTile Contact Us 
    p.phonenumber Phone No:
      span 1234567898
    p#emailId Email-id: 
      span modi&#38;co@hotmail.com
    p.adreess Office Adress: 
      span 2215 bloor street Toronto 
      span#postalcode P8W 4I5