extends templet  

block main-content 
  .maincontent 
    h2#herotext Modi &#38; Co.
    p#heroqote Makes Dream Wedding a Reality 
    a(href="#")#button Book Us  
  .wedding-event 
    .wed-image
      img(src="/images/side-image.jpg", alt="wedding image" height="500px" width="500px")
    .wed-text
      p Celebrations are an important part of life and the community; this is because they range from being civic and public events to a more private event that focuses on family and friends. One of the main celebrations of a community is a wedding. In the 1870s weddings were a momentous occasion in a young couples life that require a lot of rules and procedures when planning. Weddings are a meaningful celebration that not everyone fully understands the significance of. The purpose of a wedding is to unite a man and woman in holy matrimony. This just means it is a celebration of a couple usually young, getting married. A wedding is an occasion that marks the beginning of the couples life together. This type of event is a way for the families to welcome the new member to the family and rejoice over the union. 